<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P10_MapApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51EA57491ED3FFD900D95ED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EA575D1ED3FFD900D95ED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EA57681ED3FFD900D95ED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
